@font-face {
  font-family: 'PixelEmulator';
  src: url('./fonts/PixelEmulator.eot') format('embedded-opentype'),
    url('./fonts/PixelEmulator.woff2') format('woff2'),
    url('./fonts/PixelEmulator.woff') format('woff'),
    url('./fonts/PixelEmulator.ttf') format('truetype'),
    url('./fonts/PixelEmulator.svg') format('svg');
}

* {
  box-sizing: border-box;
  image-rendering: pixelated;
  user-select: none;
}

body {
  background-color: #000022;
  font-size: 1.4rem;
  color: white;
  font-family: 'PixelEmulator', sans-serif;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

main {
  flex: 1 0 auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 auto;
}

a {
  color: #e5e4e2;
  text-decoration: none;
}

a.visited {
  color: #e5e4e2;
}

a:hover {
  color: red;
}
